/* ContentEditable styles for QuotaBuffer */
div#QuotasBuffer table {
	border-collapse: separate;
	border-spacing: 2px;
}

div#QuotasBuffer [contenteditable="true"] {
	background-image: url(imgs/pencil_icon.png);
	background-repeat: no-repeat;
	background-position: right;
	background-origin: content-box;
}

div#QuotasBuffer td[contenteditable="true"]:focus {
	background-image: none;
	border: 2px dashed rgba(0,0,0,0.2);
}