/* ContentEditable styles for QuotaBuffer */
div#QuotasBuffer table {
	border-collapse: separate;
	border-spacing: 2px;
}

div#QuotasBuffer [contenteditable="true"]::after {
	content: url(imgs/pencil_icon.png);
	float: right;
	background-repeat: no-repeat;
	background-position: right;
	background-origin: content-box;
	opacity: 0.2;
}

div#QuotasBuffer td[contenteditable="true"]:focus::after {
	content: none;
}

div#QuotasBuffer td[contenteditable="true"]:focus {
	border: 2px dashed rgba(0,0,0,0.2);
}